.settings-view > div
    border-radius 0 !important
.settings-view > div > div > div
    &:nth-child(1)
        float left
    &:nth-child(2)
        float left
    &:nth-child(3)
        clear left
    // &:nth-child(-n +2)
    //     lost-column 1/2

